<div class="blog-menu">
  <h4>Tag:</h4>
  <ul>
    <li class="{% if page.filter_name == 'all' %} active{% endif %}"><a href="/blog">all</a></li>
    <li class="{% if page.filter_name == 'board' %} active{% endif %}"><a href="/blog/board.html">board</a></li> <li class="{% if page.filter_name == 'conference' %} active{% endif %}"><a href="/blog/conference.html">conference</a></li> <li class="{% if page.filter_name == 'course' %} active{% endif %}"><a href="/blog/course.html">course</a></li> <li class="{% if page.filter_name == 'event' %} active{% endif %}"><a href="/blog/event.html">event</a></li> <li class="{% if page.filter_name == 'hackathon' %} active{% endif %}"><a href="/blog/hackathon.html">hackathon</a></li> <li class="{% if page.filter_name == 'tech' %} active{% endif %}"><a href="/blog/tech.html">tech</a></li>
  </ul>
</div>
