<div class="blog-menu">
  <ul>
    <li>Show:</li>
    <li class="{% if page.filter_name == 'all' %} active{% endif %}"><a href="/blog">All</a></li>
    <li class="{% if page.filter_name == 'meetup' %} active{% endif %}"><a href="/blog/events.html">Events</a></li>
    <li class="{% if page.filter_name == 'conference' %} active{% endif %}"><a href="/blog/conferences.html">Conferences</a></li>
    <li class="{% if page.filter_name == 'course' %} active{% endif %}"><a href="/blog/courses.html">Courses</a></li>
  </ul>
</div>
