
{% if paginator && paginator.page %}
<div class="paginator">
{% if paginator.next_page %}
  <a class="__next" href="{{paginator.next_page_path}}">&laquo; Earlier</a>
{% endif %}
{% if paginator.previous_page %}
  <a class="__prev" href="{{paginator.previous_page_path}}">Later &raquo;</a>
{% endif %}
  <span class="__current">-{{paginator.page}}-</span>
</div>
{% endif %}

<footer class="site-footer">
{% if paginator && paginator.page %}
{% else %}
  <hr>
{% endif %}
  <h4 class="footer-heading">{{ site.title }}</h4>

  <div class="column">
    <ul>
      <li>
        <a href="http://mail.pm.org/mailman/listinfo/oslo">Mailinglist</a>
      </li>
      <li>
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>
      </li>
      <li>
        <a href="irc://irc.perl.org/oslo.pm">irc.perl.org/oslo.pm</a>
        <a href="http://mibbit.com/?channel=%23oslo.pm&server=irc.perl.org">(Webchat)</a>
      </li>
    </ul>
  </div>

  <div class="column">
    <ul>
      <li>
        <a href="https://www.meetup.com/Oslo-pm/" class="page-link">Meetup</a>
      </li>
      <li>
        <a href="https://www.facebook.com/groups/oslo.pm">Facebook</a>
      <li>
      <li>
        <a href="https://github.com/oslo-pm/oslo-pm.github.io">Github</a>
      </li>
    </ul>
  </div>
</div>
</footer>
