<script>
(function(w, d) {
  var noQuery = d.querySelector(".no-query");
  var query = location.href;

  query = query.match(/\bq=/) ? query.replace(/.*q=(.*)/, "$1").replace(/\+/g, " ") : "";

{% if page.search %}
  var gcse = d.createElement("script");
  gcse.async = true;
  gcse.src = "https://cse.google.com/cse.js?cx=" + d.querySelector(".search-form").querySelector("[name=cx]").value;
  gcse.type = "text/javascript";
  var s = d.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(gcse, s);
{% endif %}

  [].forEach.call(d.querySelectorAll(".search-form"), function(form) {
    form.action = "/search";
    [].forEach.call(form.querySelectorAll("[type=hidden]"), function(el) {
      el.parentNode.removeChild(el);
    });
    form.querySelector("input").value = decodeURIComponent(query);
  });

  if (!query && noQuery) noQuery.classList.remove("hide");
})(window, document);
</script>
