<head>
  {% seo %}
  {% feed_meta %}

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="keywords" content="oslo,perl,mongers,brukergruppe,sosial,faglig,forening,bruker,gruppe" lang="no">
  <meta name="keywords" content="oslo,perl,mongers,usergroup,social,topical,organization,user,group" lang="en">
  <link rev="made" title="Oslo.pm aktive" href="mailto:oslo-aktive@pm.org">
  <link rel="bookmark" title="Oslo.pm annonserings-liste" href="http://mail.pm.org/mailman/listinfo/oslo">
  <link rel="bookmark" title="Oslo.pm diskusjons-liste" href="http://mail.pm.org/mailman/listinfo/oslo-aktive">
  <link rel="bookmark" title="Oslo.pm WebDAV grensesnitt" href="https://groups.pm.org/groups/oslo/">
  <link rel="icon" type="image/png" href="/images/oslo.pm-logo.png">
  <link rel="shortcut icon" type="image/png" href="/images/oslo.pm-logo.png">

  <!-- Custom CSS -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/oslo-pm-2017-09-03.css">

  <!-- script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-00000000-0', 'auto');
      ga('send', 'pageview');

      if ((host == window.location.host) && (window.location.protocol != "https:")) {
          window.location.protocol = "https";
      }
  </script -->
</head>
