{% if index %}
<div class="entry --in-list">
{% else %}
<div class="entry">
{% endif %}
  <article class="entry-content">
    <header>
      {% if heading %}
      <{{heading}} class="entry-title"><a href="{{ page.url }}">{{ page.title }}</a></{{heading}}>
      {% else %}
      <h1 class="entry-title"><a href="{{ page.url }}">{{ page.title }}</a></h1>
      {% endif %}
      <p class="entry-meta">
        {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.category %} • Category: {{ page.category|capitalize }}{% endif %}
        {% for tag in page.tags %}
          {% if forloop.first %} • {% endif %}
          <a href="/news/{{tag}}.html">{{tag}}</a>
        {% endfor %}
      </p>
    </header>
    {% if index %}
      {{ page.excerpt }}
      {% if page.content != page.excerpt %}
      <p><a href="{{ page.url }}">Read more »</a></p>
      {% endif %}
    {% else %}
      {{ content }}
    {% endif %}
  </article>
</div>
