<div class="tag-menu">
  <h4>Tag:</h4>
  <ul>
    <li class="{% if page.filter_name == 'all' %} active{% endif %}"><a href="/news">all</a></li>
    <li class="{% if page.filter_name == 'board' %} active{% endif %}"><a href="/news/board.html">board</a></li> <li class="{% if page.filter_name == 'conference' %} active{% endif %}"><a href="/news/conference.html">conference</a></li> <li class="{% if page.filter_name == 'course' %} active{% endif %}"><a href="/news/course.html">course</a></li> <li class="{% if page.filter_name == 'event' %} active{% endif %}"><a href="/news/event.html">event</a></li> <li class="{% if page.filter_name == 'hackathon' %} active{% endif %}"><a href="/news/hackathon.html">hackathon</a></li> <li class="{% if page.filter_name == 'tech' %} active{% endif %}"><a href="/news/tech.html">tech</a></li>
    {% if site.data.tags.state[page.filter_name] == "hidden" %}
    <li class="active"><a href="/news/{{page.filter_name}}">{{page.filter_name}}</a></li>
    {% endif %}
  </ul>
</div>
