dl.talk_info,
dl.user-show_info {
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  dt {
    float: left;
    width: 9em;
    clear: left;
  }
}

dl.user-show_info {
  dt {
    width: 11em;
  }
}

.user-show_photo {
  img {
    float: right;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
