.wrapper {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 $gutter * 2;
}

.main-header {
  margin: $gutter * 2 auto $gutter * 2 auto;

  .site-title {
    font-weight: 700;
    font-size: 25px;
    line-height: normal;
    vertical-align: middle;
    a {
      color: $text-color;
      text-decoration: none;
    }
    img {
      max-height: 80px;
      position: relative;
      top: -5px;
      float: right;
      vertical-align: top;
    }
    a {
      vertical-align: middle;
    }
  }

  .links {
    color: #777;
    vertical-align: middle;
    padding-bottom: 10px;
    margin-top: 5px;

    a {
      text-decoration: none;
      color: #777;
      font-weight: 600;
      margin-right: 10px;
      &:hover {
        text-decoration: underline;
      }
      &.active {
        color: #444;
      }
    }
  }

  form {
    border-top: 2px solid black;
    margin: 0;
    padding: 0;
    clear: both;
    overflow: hidden;
  }

  input {
    background: #f6f6f6 no-repeat 0% 50%;
    background-image: url(../images/magnifying-glass-1294834_640.png);
    background-size: contain;
    font-size: 1.1rem;
    border: 1px solid #cecece;
    border-top: 0;
    width: 100%;
    margin: 0;
    padding: 0.2rem 0.5rem 0.2rem 2rem;
    box-sizing: border-box;

    &:focus {
      border-color: #888;
      outline: 0;
    }
  }

  hr {
    background: black;
    border: 0;
    height: 2px;
    clear: both;
  }
}

.site-footer {
  margin: 3rem 0 1rem 0;
  overflow: hidden;
  color: #444;
  font-size: 13px;
  line-height: 1.2rem;

  ul {
    margin: 0;
    padding: 0;
  }
  li {
    margin: 0;
    list-style: none;
  }
  h4, a {
    color: #444;
    font-size: 13px;
  }
  .column {
    width: 50%;
    float: left;
  }
}

.paginator {
  text-align: center;
  border-top: 1px solid $border-color;
  padding-top: 1rem;
  margin: 3rem 0;
  overflow: hidden;

  .__prev, .__current, .__next {
    line-height: 1.7em;
    text-decoration: none;
    vertical-align: middle;
    display: block;
  }

  .__prev, .__next {
    &:hover {
      text-decoration: underline;
    }
  }

  .__current { font-size: 1.1em; }
  .__prev { float: right; }
  .__next { float: left; }
}

.tag-menu {
  overflow: hidden;
  margin: 0.5rem 0;
  display: flex;

  h4 {
    font-weight: normal;
    font-size: 1rem;
    margin: 0.1rem 0;
    padding-right: 0.5rem;
  }

  ul {
    font-weight: normal;
    margin: 0;
    padding: 0;
    float: left;
  }

  li {
    margin-right: 0.5rem;
    display: inline;

    a {
      text-decoration: none;
    }

    &.active a {
      color: #222;
      text-decoration: underline;
    }
  }
}

iframe.google-maps {
  border: 1px solid #aaa;
  margin: 1rem 0;
  box-sizing: border-box;
  width: 100%;
  height: 280px;
}
