.clear {
  clear: both;
}

.wrapper {
  max-width: $max-width;
  margin: 0 auto;
}

.site-footer {
  overflow: hidden;

  ul {
    margin: 0;
    padding: 0;
  }
  li {
    margin: 0;
    list-style: none;
  }
  .column {
    width: 50%;
    float: left;
    text-align: center;
  }
}

.paginator {
  text-align: center;
  border-top: 1px solid $border-color;
  padding-top: 1rem;
  margin: 3rem 0;
  overflow: hidden;

  .__prev, .__current, .__next {
    line-height: 1.7em;
    text-decoration: none;
    vertical-align: middle;
    display: block;
  }

  .__prev, .__next {
    &:hover {
      text-decoration: underline;
    }
  }

  .__current { font-size: 1.1em; }
  .__prev { float: right; }
  .__next { float: left; }
}

.tag-menu {
  overflow: hidden;
  margin: 0.5rem 0;
  display: flex;

  h4 {
    font-weight: normal;
    font-size: 1rem;
    margin: 0.1rem 0;
    padding-right: 0.5rem;
  }

  ul {
    font-weight: normal;
    margin: 0;
    padding: 0;
    float: left;
  }

  li {
    margin-right: 0.5rem;
    display: inline;

    a {
      text-decoration: none;
    }

    &.active a {
      color: #222;
      text-decoration: underline;
    }
  }
}

hr {
  background: transparent;
  border: 0;
  border-bottom: $seperator-border;
  margin: 2rem 0;
  height: 1px;
  clear: both;
}

iframe.google-maps {
  border: 1px solid #aaa;
  margin: 1rem 0;
  box-sizing: border-box;
  width: 100%;
  height: 280px;
}
