$font-family: "Helvetica Neue", Arial, sans-serif !default;
$font-size: 16px !default;
$line-height: 1.5rem !default;
$text-color: #111111 !default;
$link-color: #2868a4 !default;
$border-color: #ccc !default;
$max-width: 44rem !default;
$gutter: 15px !default;
$header-sizes: (h1: 22px, h2: 20px, h3: 18px, h4: 16px) !default;
$breakpoints: (small: 680px) !default;
