fieldset {
  margin-bottom: 0.8rem;

  legend {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0.2rem 0 0.6rem 0;
  }
}

form.form-inline {
  input, button {
    font-size: 1rem;
    border-radius: 0;
    padding: 0.3rem 0.6rem;
    margin: 0;

    &:focus {
      outline: auto 5px #999;
      outline-offset: -2px;
    }
  }

  input {
    border: 1px solid #888;
    width: 60%;
  }

  button {
    background: #666;
    color: #fff;
    border: 1px solid #555;
    cursor: pointer;

    &:hover {
      background: #444;
    }
  }
}

form {
  .input-wrap {
    label {
      margin-bottom: 0.4rem;
      display: block;
    }

    input {
      font-size: 1rem;
      margin-bottom: 0.8rem;
    }

    select {
      background: #fff;
      border: 2px solid #ccc;
      border-radius: 2px;
      padding: 0.3em;
    }

    &.-checkbox {
      margin: 0.8rem 0;
    }

    &.-radio {
      label {
        display: inline-block;
      }
    }

    &.-text {
      input {
        background: #fff;
        border: 2px solid #ccc;
        border-radius: 2px;
        padding: 0.3em;
        width: 20em;
        max-width: 100%;
      }

      input[type=checkbox],
      input[type=radio] {
        width: auto;
      }
    }
  }

  .submit-wrap {
    margin-bottom: 0.8rem;
  }

  .form-help {
    font-size: 0.9em;
    margin: 0 0 0.5rem 0;

    input {
      width: auto;
    }
  }
}

.button {
  background: #70b51c;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  border: 1px solid #70b51c;
  border-radius: 2px;
  padding: 0.4rem 1rem;
  cursor: pointer;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;

  &:hover {
    background: darken(#70b51c, 10%);
  }

  &.-danger {
    background: darken(#da5a19, 10%);
    border-color: transparent;

    &:hover {
      background: darken(#da5a19, 10%);
    }
  }

  &.-link {
    background: #eee;
    color: #222;
    text-decoration: none;
    border-color: #888;

    &:hover {
      background: darken(#eee, 10%);
    }
  }
}
