form.form-inline {
  input, button {
    font-size: 1rem;
    border-radius: 0;
    padding: 0.3rem 0.6rem;
    margin: 0;

    &:focus {
      outline: auto 5px #999;
      outline-offset: -2px;
    }
  }

  input {
    border: 1px solid #888;
    width: 60%;
  }

  button {
    background: #666;
    color: #fff;
    border: 1px solid #555;
    cursor: pointer;

    &:hover {
      background: #444;
    }
  }
}
