---
layout: default
title: Entries by "hackathon"
filter_name: hackathon
canonical_url: http://oslo.pm/blog/list.html
---

{% include blog_menu.html %}

{% assign index = true %}
{% for i in (0..2) %}
  {% assign page = site.tags.hackathon[i] %}
  {% if page %}
    {% include post.html %}
  {% endif %}
{% endfor %}

{% for i in (3..100) %}
  {% if forloop.first %}<hr><ul class="entries-list">{% endif %}
  {% assign page = site.tags.hackathon[i] %}
  {% if page %}
    <li>
      <a href="{{ page.url }}">{{ page.title }}</a>
      <small>{{ page.date | date: "%b %-d, %Y" }}</small>
    </li>
  {% endif %}
  {% if forloop.last %}</ul>{% endif %}
{% endfor %}
