  </div>
</div>

<div class="container">
  <div id="footer">
    <a href="https://twitter.com/search?q=%23mojoconf2014&amp;f=realtime">Twitter</a>
  - <a href="mailto:mojoconf14@oslo.pm">Contact</a>
  - <a href="http://act.yapc.eu/mojo2014/news">News</a>
  - Powered by
    <a href="http://oslo.pm">Oslo.pm</a>,
    <a href="http://perl.org">Perl</a>,
    <a href="https://github.com/jhthorsen/Act/tree/bootstrap-v1">Act</a>
  & <a href="http://bootswatch.com/yeti/">Bootswatch</a>
  </div>
</div>
<script type="text/javascript" src="/mojo2014/js/jquery.js"></script>
<script type="text/javascript" src="/mojo2014/js/dropdown.js"></script>
