<div id="header">
  <div class="container">
    <h1>Mojoconf 2014 - mojoconf 2014</h1>
    <p>Mojolicious training, conference and hackaton.</p>
    <ul class="nav nav-tabs ">
      <li><a href="/mojo2014/">Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="/mojo2014/wiki">Info <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/mojo2014/wiki">Wiki</a></li>
          <li><a href="http://act.yapc.eu/mojo2014/search?name=">Attendants</a></li>
          <li><a href="/mojo2014/conduct.html">Code of Conduct</a></li>
          <li><a href="/mojo2014/sponsors.html">Sponsors</a></li>
        </ul>
      </li>
      <li><a href="/mojo2014/training.html">Training</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Schedule <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="http://act.yapc.eu/mojo2014/schedule?day=2014-05-24">Schedule</a></li>
          <li><a href="http://act.yapc.eu/mojo2014/talks">Presentations</a></li>
          <li><a href="http://act.yapc.eu/mojo2014/favtalks">Favorite Talks</a></li>
          <li class="divider"></li>
          <li><a href="http://act.yapc.eu/mojo2014/timetable.ics">iCal export</a></li>
        </ul>
      </li>
      <li><a href="http://act.yapc.eu/mojo2014/main">Log in</a></li>
    </ul>
  </div>
</div>

<div class="container">
  <div id="content" class="content index-html">
