<div id="wrapper">

<div id="heading">
<h1><a href="/npw2009/">Nordic Perl Workshop 2009</a></h1>
<p>
    <span class="date">April 16-17 2009</span>
    <span class="where">Oslo, Norway</span>
</p>
</div>

<div id="menu">
<ul> <!-- user menu -->  <li><span class="h1"> Register </span></li>
 <li class="item"><span> <a href="http://act.yapc.eu/npw2009/main">Log in</a> </span></li>
    <span id="goto-lang"><li class="item"><span> <a href="/npw2009/nb">&#x2192;&nbsp;Norsk</a> </span></li>
</span>   <!-- static menu --> <li><span class="h1"> Documents </span></li>
 <li class="item"><span> <a href="/npw2009/cfpapers.html">
 Call for Papers
</a> </span></li>
  <!-- users menu --> <li><span class="h1"> Users </span></li>
 <li class="item"><span> <a href="http://act.yapc.eu/npw2009/search"> Search </a> </span></li>
 <li class="item"><span> <a href="http://act.yapc.eu/npw2009/stats"> Statistics </a> </span></li>
   <li><span class="h1"> <a href="/npw2009/news">News</a> </span></li>
   <li><span class="h1"> <a href="http://act.yapc.eu/npw2009/wiki">Wiki</a> </span></li>
  <!-- talks menu --> <li><span class="h1"> <a href="http://act.yapc.eu/npw2009/talks"> Presentations </a> </span></li>
 <li class="item"><span> <a href="http://act.yapc.eu/npw2009/favtalks"> Favorite Talks </a> </span></li>
   <li class="item"><span> <a href="http://act.yapc.eu/npw2009/schedule"> Schedule </a> </span></li>
 <li class="item"><span> <a href="http://act.yapc.eu/npw2009/timetable.ics"> iCal export </a> </span></li>
     <li class="item"><span> <a href="http://act.yapc.eu/npw2009/newtalk"> Submit a talk proposal </a> </span></li>
      <!-- money menu -->   <!-- admin menu -->     </ul>
</div>

<div id="content">
